<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteCond %{HTTP:Authorization} ^(.*)
    RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]
    RewriteRule ^$ public/index.php [L]
    RewriteRule ^((?!public/).*)$ public/index.php [L]
</IfModule>
